@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Signika:wght@300&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}   

h1, h2{
    font-family: Kdam Thmor Pro;
    color: #4072A7;
    text-align: center;
}
p {
    font-family: Signika, Helvetica, sans-serif;
    color: #5BC8DE;
}
.logo {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

    
}
nav {
    display: flex;
    justify-content: space-around;
    padding: 35px;
}
#hero-img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  filter: brightness(50%)
}
.card-img {
    width: 50%;
    border: 10px solid #7B579A;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.home-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
}
.design-card{
    grid-column: 2/4;
    grid-row: 2/3;
    z-index: 1;
    display: block;
    margin-left: 200px;
}
.concept-card {
    grid-column: 5/7;
    grid-row: 2/3;
    margin-left: auto;
    margin-right: -80px;
    z-index: 1;
    width: 107%;
}
.home-grid h2 {
    margin-left: -240px;
}
body {
    background-color: #171717;
    color: #5BC8DE;
    font-family: Signika, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header, nav a {
    background-color:#7B579A;
    color: #171717;
    font-family: Kdam Thmor Pro, Signika, Helvetica, sans-serif;
    text-decoration: none;
}
nav a:hover {
    color: #5BC8DE;
    text-decoration: none;
    opacity: .6;
    transform: scale(1.1);
}
nav a {
    margin-top: -40px;
    transition: transform .5s;
}

footer {
    background-color: #7B579A;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
    margin-bottom: -30px;
}
footer h3 {
    background-color:#7B579A;
    color: #171717;
    font-family: Kdam Thmor Pro, Signika, Helvetica, sans-serif;
    text-decoration: none;
}
footer h3 a:hover {
    color: #5BC8DE;
    text-decoration: none;
    opacity: .6;
    transform: scale(1.1);
}
footer a {
    background-color:#7B579A;
    color: #171717;
    font-family: Kdam Thmor Pro, Signika, Helvetica, sans-serif;
    text-decoration: none;
}
footer a:hover {
    color: #5BC8DE;
    text-decoration: none;
    opacity: .6;
    transform: scale(1.1);
}
footer .social img {
    padding-top: 15px;
}

/*sub-page number 1*/

#subhero-img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

#subgrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    
}
.first-img {
    grid-row-start: 1;
    grid-row-end: 4;
    float: left;
    margin-left: 30px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.first-sketch p {
    text-align: justify;
    margin-right: 20px;
    margin-top: 60px;
    margin-left: 40px;
    text-size-adjust: -100px;
}
.first-sketch h2{
    margin-bottom: 20px;
    font-weight: bold;
    margin-right: -490px;
}
.second-img {
    float: right;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 20px;
}
.second-sketch p {
    text-align: justify;
    margin-right: 40px;
    margin-top: 40px;
    margin-left: 20px;
    text-size-adjust: -100px;
}
.second-sketch h2{
    margin-bottom: 20px;
    font-weight: bold;
    margin-right: 500px;
}
.third-img {
    grid-row-start: 1;
    grid-row-end: 3;
    float: left;
    margin-left: 30px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.third-sketch p {
    text-align: justify;
    margin-right: 20px;
    margin-top: 60px;
    margin-left: 40px;
    text-size-adjust: -100px;
}
.third-sketch h2{
    margin-bottom: 20px;
    font-weight: bold;
    margin-right: -490px;
}
.third-sketch {
    margin-top: 380px;
}
#subpage-title {
    color: #114166;
    text-align: center;
    background-color: #F5DC71;
    line-height: 1.5em;
    padding: 30px;
    width: 700px;
    margin-left: 255px;
}
.first-sketch {
    margin-top: 80px;
}
.first-sketch, .second-sketch, .third-sketch {
    color: #114166;
    margin-left: 60px;
    margin-right: 70px;
}
.first-img, .second-img, .third-img {
    width: 500px;
    box-shadow: 5px 5px 10px #6f7364;
}
.second-img {
    margin-top: -60px;
}
#bg {
    margin-bottom: 200px;
}
.second-sketch {
    margin-top: 380px;
}